@import 'tailwindcss';
/* url(../lib/assets/fonts/jetbrains-mono-font/JetBrainsMono-Bold.woff2); */
/* @plugin '@tailwindcss/forms'; */
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'JetBrains Mono';
	src: url('../lib/assets/fonts/jetbrains-mono-font/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'JetBrains Mono';
	src: url('../lib/assets/fonts/jetbrains-mono-font/JetBrainsMono-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'JetBrains Mono';
	src: url('../lib/assets/fonts/jetbrains-mono-font/JetBrainsMono-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@theme {
	--font-mono: 'JetBrains Mono', monospace;
}
