# Ignore node_modules - it will be reinstalled in the container
node_modules

# Ignore log files
*.log

# Ignore the dist directory - the code will be compiled inside the container
dist

# Ignore sensitive environment variables
.env

# Ignore Docker-related files
Dockerfile*
.dockerignore

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
