BETTER_AUTH_SECRET=
DATABASE_URL_MYSQL=mysql://user@localhost:3306/authstarter
DATABASE_URL_PG=postgresql://postgres:postgres@db:5432/starterkit

PORT=3000
BETTER_AUTH_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
HOST=localhost
DB_HOST=server
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=starterkit
# db port
DB_PORT=5432

# SMTP EMAIL FOR PASSWORD RESET
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=8e50e37ce3b160
SMTP_PASS=ac45cf6bb5c3e0
SMTP_FROM=no-reply@starterkit.dev

# frontend .env
VITE_API_URL=http://localhost:3000
VITE_APP_URL=http://localhost:5173