backend/node_modules
frontend/node_modules
backend/dist
frontend/dist
.env
frontend/.env
backend/.env
backend/src/db/migrations
.DS_Store
.vscode
.idea
*.log
!.env.examples
!.env.example
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.tar
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib
*.dylib
*.log
*.cache
frontend/build
frontend/package-lock.json
backend/package-lock.json
