# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# CREDENTIALS
BETTER_AUTH_URL=http://localhost:port
BETTER_AUTH_SECRET=oregiebgiebiuwgvyiqgue8y396r97u2beobayvchsafkeh
FRONTEND_URL=http://localhost:5173
DATABASE_URL=mysql://username:password@localhost:3306/learnauth

# SERVER
PORT=3000