BETTER_AUTH_SECRET=bh0HZvms5ZMtrpNh4X2bOTdxpvbaIeZZ
PORT=3000
DATABASE_URL=mysql://root@localhost:3306/authstarter
DATABASE_URL_PG=postgresql://postgres:postgres@localhost:5432/learnauthwpg

# DATABASE_URL=
PORT=3000
BETTER_AUTH_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
HOST=localhost
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=authstarter
DB_PORT=3306

# SMTP EMAIL FOR PASSWORD RESET
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=8e50e37ce3b160
SMTP_PASS=ac45cf6bb5c3e0
SMTP_FROM=no-reply@starterkit.dev